<html>
<body>
<%= javascript_include_tag "prototype" %> 
<%= javascript_include_tag "pokerpronto" %> 
<%= stylesheet_link_tag "pokerpronto" %> 
<%= stylesheet_link_tag "widget" %> 
<% if @css -%>
<%= stylesheet_link_tag @css %> 
<% end -%>
<table class="widget" width="100%" height="100%">
<tr><td>
<%= render_partial "/hand/calc",:widget=>true%>
</tr></td>
</table>
</body>
</html>
