<html>
<head>
<title>PokerPronto</title>
<%= javascript_include_tag "prototype" %> 
<%- javascript_include_tag "fantabulous" %> 
<%= javascript_include_tag "pokerpronto" %> 
<%= stylesheet_link_tag "tabs" %> 
<%= stylesheet_link_tag "pokerpronto" %> 

</head>
<body bgcolor=#99FF99 >
<table border=0 cellpadding="4" cellspacing="4" width="100%">
<tr>
<td NOWRAP valign="middle">
  <font size="5">PokerPronto</font><br>
  <font size="3">Calculate Texas Holdem odds fast!</font>
<br>
</td>
<td width=100% align="middle">
  <%= image_tag "horseT.gif" %>
</td>
<td valign=bottom align=right width="0%">
<%= mail_to("pokerpronto@gmail.com", "Email&nbsp;PokerPronto", 
:subject => "Hello", 
:encode => "javascript") %> 
</td>
</tr>
</table>
<%- sections = %w[Instructions About Holes Links Widgets] %>
<div id="mainmenu" class="bar">
    <ul id="tabs">
        <li>
            <%= link_to "Calculate","/"%>
        </li>
		<%- for section in sections -%>
		  <li>
		  	<%= link_to section,:action=>section.downcase %>
	      </li>
		<%- end %>
        <li>
            <%= link_to "Store&nbsp;<font color='red'>NEW!</font>",:action=>"store"%>
        </li>
    </ul>
</div>

<div class="panel" id="calculate" style="display:block;<%= @panel_height ? "height:#{@panel_height}" : ""%>">
<%= yield  %>
</div>

<div class="bar">&nbsp;</div>
<div id="footerContainer" style="padding:5px;text-align:center;position:relative">
<% if PokerprontoEnvironment::USE_FOOTER_ADS -%>
    <div  id="advertisement">
    <%= Advertisement.random %>
    </div>
    <script type="text/javascript">
        PokerPronto.initAdvertisements();
    </script>
<% end -%>
<div class="copyright">
Copyright &copy; 2006 PokerPronto
</div>
</div>
</body>
</html>